@font-face {
  font-family: "Hanken Grotesk";
  src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

// Primary
$light-red: hsl(0, 100%, 67%);
$orange-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);

// Gradient
$light-slate-blue: hsl(252, 100%, 67%);
$light-royal-blue: hsl(241, 81%, 54%);
$violet-blue: hsla(256, 72%, 46%, 1);
$persian-blue: hsla(241, 72%, 46%, 0);

//Neutral
$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "Hanken Grotesk";
}

p {
  font-size: 18px;
}

.attribution {
  position: absolute;
  bottom: 20px;
  left: 50%;
  box-sizing: border-box;
  transform: translateX(-50%);
}

main {
  display: flex;
  width: 732px;
  height: 512px;
  background-color: white;
  border-radius: 32px;
  box-sizing: border-box;
  box-shadow: 0 16px 24px hsl(241, 81%, 54%, 0.1);
}

h1 {
  font-size: 68px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

.result {
  padding: 16px 60px;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  border-radius: 32px;
  background: linear-gradient(
    0deg,
    $light-royal-blue 0%,
    $light-slate-blue 100%
  );

  h3 {
    color: hsla(0, 0%, 100%, 0.8);
    text-align: center;
  }

  .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(180deg, $violet-blue 0%, $persian-blue 100%);
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      color: $white;
      font-size: 68px;
      margin: 0;
    }

    p {
      color: hsl(0, 0%, 100%, 0.7);
      margin: 0;
    }
  }

  h2 {
    text-align: center;
    color: white;
    margin-bottom: 8px;
  }

  p {
    margin: 0;
    color: rgb(255, 255, 255, 0.7);
    text-align: center;
  }
}

.summary {
  width: 50%;
  box-sizing: border-box;
  padding: 16px 42px;

  h3 {
    color: $dark-gray-blue;
  }

  article {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: 16px 0;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;

    .title {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .sum-result {
      color: $dark-gray-blue;
      font-weight: bold;
    }

    .sum-total {
      color: hsl(224, 30%, 27%, 0.5);
      font-size: 16px;
    }
  }

  .reaction {
    color: $light-red;
    background-color: hsl(0, 100%, 67%, 0.1);
  }

  .memory {
    color: $orange-yellow;
    background-color: hsl(39, 100%, 56%, 0.1);
  }

  .verbal {
    color: $green-teal;
    background-color: hsl(166, 100%, 37%, 0.1);
  }

  .visual {
    color: $cobalt-blue;
    background-color: hsl(234, 85%, 45%, 0.1);
  }
}

button {
  margin-top: 28px;
  font-family: "Hanken Grotesk";
  font-size: 18px;
  width: 100%;
  padding: 16px;
  color: white;
  background-color: $dark-gray-blue;
  border: none;
  border-radius: 32px;

  &:hover {
    background: linear-gradient(
      0deg,
      $light-royal-blue 0%,
      $light-slate-blue 100%
    );
  }
}

$breakpoint-tablet: 768px;

@media (max-width: $breakpoint-tablet) {
  main {
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100vw;
    border-radius: 0;
    padding-bottom: 32px;
    min-width: 375px;
  }

  .result {
    width: 100%;
    padding-bottom: 32px;
    border-radius: 0 0 32px 32px;
  }

  .summary {
    width: 100%;
  }
}
